@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

:root {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
  line-height: 1.4;
}

